body {
	font-family: 'PT Sans', sans-serif;
}

/*header*/
ul .nav-item a {
	color: #374436 !important;
}

ul .nav-item a:hover
{
	color: #9dc09a !important;
}

ul .nav-item.active a {
	color: #a87f4a !important;
}

.navbar.navbar-expand-md.navbar-dark.bg-dark {
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

nav.navbar {
	background-color: white !important;
	border-top: 4px solid #374436;
	z-index: 8;
}

a.nav-link {
	font-size: 1.15rem;
}

.navbar-dark .navbar-toggler {
	background-color: #ecdac8;
}

.nav-info {
	height: 40px;
	font-size: 0.9rem;
	font-family: 'PT Serif', sans-serif;
}

header .nav ul.navbar-nav {
	margin: auto !important;
	margin-left: auto !important;
	align-items: center!important;
}

header .nav ul.navbar-nav li {
	align-self: center;
}

.mr-auto, .mx-auto {
	margin-right: auto!important;
	margin-left: auto!important;
}

@media (min-width: 768px)
.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.nav-info-row .col-auto img {
	height: 14px;
}

.nav-info-row.footer .col-auto img {
	height: 16px;
}

.nav-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f4efea;
}

.nav-info-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1140px;
	justify-content: space-around;ы
}

.nav-info-row .col-auto,
.nav-info-row .col-auto a {
	color: #374436;
}

.logo-gelster {
	margin-left: 2%;
}

.fa.fa-phone {
	transform: rotate( 90deg);
}
/*end header*/
/*aside*/
main.container-fluid .aside-navigation {
	max-width: 260px;
	min-width: 100px;
/*	height: 100%;*/
	border-right: 3px solid #374436;
	background-color: white;
	padding-top: 4%;
	padding-bottom: 4%;
	overflow: auto;
	padding-left: 40px;

}

.aside-img {
	display: block;
    position: absolute;
    left: 0;
}
main.container-fluid {
	display: flex;
	flex-direction: row;
}

aside h2 {
	font-size: 1.2rem;
	color: #374436;
}

aside h3 {
	font-size: 1.1rem;
	color: #b07a37;
	padding-top: 1rem;
}

aside ul li {
	color: #b07a37;
}

aside ul a {
	color: #374436;
}

aside ul a:hover {
	color: #9dc09a
}

aside ul {
	padding-left: 20px;
}

aside h3.first-h3 {
	padding-top: 80px;
}

aside ul li .active {
	text-decoration: underline;
	color: #9dc09a;
}
/*end aside*/
/*content*/
.container-fluid .content .entry-items,
.container-fluid .content .breadcrambs{
	background: #f7f2ed;
	padding: 4%;
}

.container-fluid .content .entry-items {
	padding-right: 0;
    position: relative;	
box-shadow: 0 8px 16px -3px #0000002e;
}

.container-fluid .content .collection {
	background: white;

}

.container-fluid .content .breadcrambs {
	padding-bottom: 0;
}

ul.breadcrambs-items {
	padding: 0;
	margin: 0;
	padding-left: 2%;
	display: flex;
}

ul.breadcrambs-items li {
	padding-right: 30px;
	color: #b07a37;
}

ul.breadcrambs-items li a {
	color: #374436;
	text-decoration: underline;
}

ul.breadcrambs-items li a:hover {
	color: #b78649;
}

.breadcrambs-items .active {
    color: #b78649;
    text-decoration: none;
}

html, body {
	margin: 0;
	padding: 0;
}
body {
	overflow: auto;
	background-color: #ece4db; 
}

section.content.col-9 {
	padding-left: 0;
	padding-right: 0;

}

@media (max-width: 700px) {
	.aside-navigation {
		display: none !important;
	}
}

@media (min-width: 1400px) {
	main.container-fluid.col-lg-12,
	nav .container-fluid {
		max-width: 1140px !important;

	}
}

/*entry*/
.entry h1,
.entry h2,
.collection h2,
.parameters h2,
.parameters span,
.collection span 
 {
	color: #b07a37;
}

.parameters h2 {
	font-size: 1.5rem;
}

.parameters .character-title {
	font-size: 1.5rem;
}


.collection .character-title {
	font-size: 1.2rem;
	display: block;
    margin-top: 1.5rem;
}

.entry h1,
.collection h2 {
	font-size: 1.5rem;
}

.entry h2 { 
	font-size: 1.2rem;
	font-family: 'PT Serif', sans-serif;
	font-style: italic;
}

.container-fluid .content .entry-items {
	display: flex;
	padding-bottom: 2%;
	z-index: 7;
}

.entry-text {
	text-align: justify;
	padding-top: 4%;
	padding-right: 4%;
	color: #374436;
}

main .entry-items .entry a {
	display: flex;
    justify-content: flex-end;
    color: #a8a6a4 !important;
    padding-right: 4%;

}

main .entry-items .entry a.collapsed {
	dispaly: none;
}
p.collapse {
	color: #374436;
}

p.entry-text {
	margin-bottom: 0;
}

.fa.fa-times {
	display: none;
}

.collapse-icon {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #beb0ab;
}

.collapse-icon a {
	padding-right: 0;
	width: 100%;
	cursor: pointer
}

.collapse-icon a:hover {
	text-decoration: underline;
}

.entry-photo {
	height: fit-content;
}

.entry-photo .img-hidden-text {
	
	bottom: 3%;
	color: white;
	position: absolute;
    bottom: 0px;
    padding-left: 20%;
    font-family: 'PT Serif', sans-serif;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 0.7rem;
}


.entry p{
	text-align: justify;
	padding-right: 4%;
	text-indent: 20px;
	margin-bottom: 0;
}


/*collection*/

.container-fluid .collection {
	padding: 4%;
	padding-right: 0;
	box-shadow: 0 8px 16px -3px #0000002e;
    position: relative;
    z-index: 6;
}

.collection-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.collection-container img {
	max-height: 150px;
	max-width: 150px;
	min-height: 150px;
	min-width: 150px;
}

.collection-container .col-auto {
	padding-left: 0;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column!important;
}

.collection-container .col-auto .article {
	margin: 0 auto;
	color: #b07a37; 
}

/*параметры*/
.content article.parameters.entry-items {
	z-index: 4;
	flex-direction: column;
}

article.parameters .caracter-icons {
	display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

article.parameters .caracter-icons .car-icon {
	margin-right: 4%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

article.parameters .caracter-icons .car-icon span {
	margin-top: 0.8rem; 
	color: #374436;
	text-align: center;
	line-height: 1.2rem;
}

.caracter-table tr {
	background-color: #f2e9de;
	height: 60px;
}

.caracter-table tr:nth-child(2n) {
	background-color: #eddfce;
}


.caracter-table tr td,
.caracter-table tr th {
	border-bottom: 6px solid #f7f2ed;
	padding-left: 4%;
	color: #374436;
    width: 50%;
}

.caracter-table tr th {
	background-color: #b9976c;
	color: white;
	font-family: 'PT Serif', sans-serif;
	font-style: italic;
	font-size: 1.4rem;
    font-weight: 500;
}

.caracter-table tr th h2 {
	color: white;
	font-family: 'PT Serif', sans-serif;
	font-style: italic;
	font-size: 1.4rem;
    font-weight: 500;
}

.caracter-table {
	margin-right: 2%;
	margin-top: 4%;
}

/*prefooter*/
.pre-footer.collection {
	z-index: 3;
    display: flex;
    flex-direction: row;
    padding-bottom: 8%;
    flex-wrap: wrap;
}

.to-galary,
.download-sertificate {
	width: 50%;
}

.to-galary h3,
.download-sertificate h3 {
	font-size: 1.1rem;
    color: #b07a37;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
}

.to-galary a,
.download-sertificate a {
    display: flex;
    color: #374436;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 30px
}

.to-galary a img {
    width: 15px;
}

.to-galary a p {
	margin-left: 12px;
}

body {
	margin: 0;
	padding: 0;
}

.content {

}
.footer {
    min-height: 160px;
    background-color: #625149;
    color: #b9976c;
}



.footer-social a img {
	height: 50px;
	width: 50px;
    border-radius: 50%;
    border: #625149;
    box-sizing: border-box;
}

.footer-social.col-md-3 {
	padding-top: 20px;
}

.footer-social a img:hover {
	background-color: white;
	border: #625149;
}

.footer-copyright b {
	padding-top: 20px;
	font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}

.footer-copyright .col-9 {
	text-align: center;
	color: #a98e81;
	padding-top: 20px;
	text-align: center;
}

.footer-social a {
	margin-right: 10px;
}

.footer-col {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-info-row.footer {
	flex-direction: row;
}

.nav-info-row.footer .col-auto {
	color: #b9976c;
}

.nav-info-row.footer .col-auto a {
	color: #b9976c;
}


/*for telephone*/ 
@media (max-width: 1140px)  {
	.footer .container .row .footer-social a {
		display: block;
		margin: 10px;
	}

	.footer-col .col-9.col-lg-6 {
		margin-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 900px) {
	.collapse.navbar-collapse.navbar-nav li .nav-link{
		font-size: 1rem !important;
		padding: 0 !important;
	}
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 0;
		padding-left: 0;
	}
	
	.collection-container img {
		max-height: 75px;
		max-width: 75px;
		min-height: 75px;
		min-width: 75px;
	}

	.collection-container {
    justify-content: space-around;
	}

	section.content {
		width: inherit;
	}

}

@media (max-width: 760px) {
	.entry-items .entry {
		padding-left: 15px;
	}

	.content .entry-items {
		flex-direction: column-reverse;
	}

	.entry-items .entry-photo {
		flex: 100% !important;
	    max-width: 100%;
        margin-bottom: 20px;
	}
}

@media (max-width: 400px) {
	.breadcrambs-items {
		font-size: 0.9rem;
	}
	.caracter-table tr td  {
		font-size: 0.8rem;
	}
	.caracter-table tr th {
		font-size: 1rem;
	}

}

.dropdown-menu {
	min-width: 190px;	
}

.dropdown-item.nav-link{
		padding-left: 5% !important;
	}

@media (max-width: 767px) {
	.footer-social {
		display: flex;	
    	justify-content: space-around;
	}
	.dropdown-menu {
		border: none;
	}
}

@media (min-width: 768px) and (max-width: 995px) {
	.navbar-expand-md .navbar-nav .nav-link {
		font-size: 0.9rem;
	}
}

.dropdown-item.active, 
.dropdown-item:active {
	background-color: #edf4ed;
}

.aside-navigation .promo-aside a{
	color: #b07a37;
}

@media (min-width: 768px) {}
	.navbar-expand-md .navbar-nav .nav-link {
    	padding-right: 0px !important; 
	}
}

/*mendini*/
img.mendini {
	max-width: 300px;
	max-height: 300px;
}

.collection-container .container .row .col .row .col-auto a img {
	max-width: 110px;
	max-height: 110px;
}

.right-mendini-block {
	padding-top: 10px;
}

header {
	z-index: 1000 !important;
}

.aside-navigation h3 a {
	color: #b07a37;
}

.aside-navigation h4 {
	font-size: 1rem;
}

.aside-navigation h4 a {
	color: #b07a37 !important;
}

main .entry-items .entry a.in-entry-link {
    color: #b07a37 !important;
    display: initial;
    text-decoration: underline;
}

.caracter-table tr .td-3 {
	width: 25%;
	text-align: center;
}

.caracter-table tr .td-2-center {
    text-align: center;
}

.caracter-table tr .td-4{
	width: 20%;
}

.caracter-table tr .td-4-table {
	width: 40%;
}

.caracter-table tr .td-5{
	width: 16%;
}

.caracter-table tr .td-5-table {
	width: 30%;
}
.collection-container .container .row .col .row .col-auto a .mendini-img {
	min-width: 0px;
    min-height: 0px;
}

img.hotlog_counter {
	display: block;
	position: absolute;
	bottom: 20px;
}

/*contacts*/
.contact-main {
	font-size: 1.1rem;
}

.contacts-spb,
.contacts-msk,
.contacts-map {
    padding-left: 8%;
    padding-top: 5%;
    background-color: #f2eeeb;
    padding-bottom: 4%;
    
}

.contacts-spb {
	box-shadow: 0 8px 16px -3px #0000002e;
	z-index: 5;
}

.contacts-spb-description h1,
.contacts-msk-description h1,
.contacts-map h1{
    font-size: 1.75rem;
    color: #b07a37;
    padding-bottom: 3%;
}

.contacts-description-item h3 {
	font-size: 1.2rem;
    color: #b07a37;
    margin-bottom: 0;
}

.contacts-spb .row,
.contacts-msk .row {
	padding-top: 5%;
}

.contacts-spb-description .contacts-description-item, 
.contacts-msk-description .contacts-description-item {
	color: #445644;
    padding-bottom: 4%;
}

.contacts-spb-photo .main-img img,
.contacts-msk-photo .main-img img,
.contacts-map img {
	max-width: 100%;
}

.img-item img{
	max-width: 100%;
	min-width: 50px;
    padding: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.contacts-spb-photo .list-img,
.contacts-msk-photo .list-img {
	display: flex;
    background: #ddd3d3;
    max-width: 560px;
    margin-top: 15px;
}

.contacts-msk.col-12,
.contacts-map {
	background-color: white;
}

.contacts-promo .promo-text p {
	color: #445644;
}

.contacts-promo {
	background-image: url(Contact/img-contact/Contact_3.jpg);
}

.promo-text {
    margin: 8% auto;
}

.promo-text p {
	font-size: 1.2rem;
}

.scheme-contacts {
	height: 120px;
    background: #f2eeeb;
    border-top: 5px solid #a87f4a;
    border-bottom: 5px solid #a87f4a;
}

.scheme-contacts h3{
    text-align: center;
    padding-top: 40px;
    color: #a87f4a;
}

.map-block h3 {
	color: #a87f4a;
    margin-top: 4%;
}

.map-block p {
	color: #445644;
}

.map-block {
	padding-left: 0;
}

.contact-main .row {
	max-width: 105%;
}

@media (max-width: 500px) {
	.map-block h3,
	.map-block p,
	.contacts-spb .breadcrambs {
		padding-left: 10px;
	}
}

#prev-photo,
#next-photo {
	height: 50px;
	margin: auto;
}

#prev-photo img,
#next-photo img {
	height: 50px; 
	cursor: pointer;
}

/*photogalery*/
.example-item-photo .col-6  img {
	max-width: 100%;
}

main.photogallery {
	color: #374436;
}

.photogallery .row .main-photo {
	background-image: url(PHOTOGALLERY/FOTO_1.jpg);
	background-size: cover;
    padding-left: 7%;
    border-bottom: 2px solid white;
}

.main-photo .row .col-md-6 h1 {
	color: #876539;
	font-size: 2.3rem;
	font-family:  'PT Serif', sans-serif;
	padding-top: 70px;
}

.main-photo .row .col-md-6 p {
	color: #6f7a6e;
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 50px
}

.main-photo .row .col-md-6 .after-h1 {
	padding-top: 30px;
	padding-bottom: 0px
}

.text-separator {
	height: 120px;
    background: #f2eeeb;
    border-top: 5px solid #a87f4a;
    border-bottom: 5px solid #a87f4a;
    box-shadow: 0 3px 16px -3px #0000002e;
    z-index: 6;
}

.text-separator h2 {
    text-align: center;
    padding-top: 40px;
    color: #8d7460;
    font-size: 30px;
}

.example-item {
	background-color: white;
    padding-left: 7%;
    position: relative;
}

.first-example-item {
 	box-shadow: 0 8px 16px -3px #0000002e;
    z-index: 5;
}

.second-example-item {
	box-shadow: 0 8px 16px -3px #0000002e;
    z-index: 4;
    padding-top: 5px;
}

.third-example-item {
    z-index: 3;
    padding-top: 5px;
}

.example-item-photo.col-12.col-md-6 {
	padding-right: 0;
    margin-left: 0px;
}

.example-item-photo.col-12.col-md-6 .col-6 {
	padding-right: 0;
}

@media (max-width: 768px) { 
	.example-item-photo-rigth {
		padding-left: 0;
	}
	.text-separator h2 {
	    font-size: 25px;
	}
	.example-item-description {
		padding-bottom: 20px;
	}
	.example-item-photo.col-12.col-md-6 {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0px;
	}
	.example-item {
		padding-right: 7%;
	}
}

.example-item-description h3 {
	padding-top: 50px;
	font-size: 28px;
	color: #ad894e;
	font-family: 'PT Serif', sans-serif;
	font-style: italic;
}

.example-item-description p {
	font-size: 20px;
	padding-top: 10px;
	text-align: justify;
}

.example-item-description a {
    color: #bc9d78;
    font-size: 20px;
}

.example-item.fotogalereya-promo {
    border-top: 5px solid #a87f4a;
    border-bottom: 5px solid #a87f4a;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: none;
}

.example-item.fotogalereya-promo .col-12 p {
	text-align: justify;
    font-size: 20px;
    color: #8d7460;
}

.example-item.fotogalereya-promo .col-12 .second-paragraph {
	padding-left: 15px;
}